* {
    text-align: center;
}

body {
    /* width: 100vw;  */
    height: 92.7vh; 
    margin: 0; 
    padding: 0;
    background-image: url('graphics/Background2.png');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
}

#audioNameBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left: 45px;
    width:max-content;
}

#coverLoader {
    background-image: url('graphics/Music-cover.png');
}

#progressBar {
    -webkit-appearance: none; /* Removes default styling */
    width:300px;
    margin-bottom: 10px;
    appearance: none;
    height: 5px;
    background: #F0F9F8; /* Changes the track color */
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 4px solid black;
}

/* Customizing the draggable thumb */
#progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #F3A2BE; /* Changes the thumb (circle) color */
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid black;
}

#progressBar::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #F3A2BE;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid black;
}

#progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: hotpink;
}

.controls {
    background-image: url('graphics/Music-control-box.png') ;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
}


.icon-btns {
    /* display: flex; */
    align-items: center;
    background: none; 
    border: none;
    padding: 0; 
    cursor: pointer;
    margin-bottom: 45px;
}

#playPauseButton img {
    width: 90px;
    height: 90px;
    margin-left: 7px;
    margin-bottom: 1px;
}

.icon-btns img {
    width: 70px; 
    height: 70px;
}

.icon-btns:hover {
    transform: scale(1.1); /* Slightly enlarges the button */
    filter: brightness(1.2); /* Makes it slightly brighter */
}

/* Optional: Active (Clicked) Effect */
.icon-btns:active {
    transform: scale(0.95); /* Shrinks slightly when clicked */
    filter: brightness(0.9);
}

.button-container {
    /* display: flex; */
    justify-content: center; 
    align-items: center;  
    margin-top: 10px;
}

#musicName {
    width: 100%;
    height: auto;
    display: block;
}

#audioName {
    font-family: Courier New, monospace;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds contrast */
    text-align: center;
    width: 80%;
} 
